# Project especific files
data/cso/*
data/data/*
data/klink2/*
data/ontology/*
data/reader/cache/*
!.gitkeep


# MacOs
.DS_Store

# Python cache files
__pycache__/

# Pytest cache
.pytest_cache/

# venv
venv/

# environment files
.env

# Jupyter
*.ipynb
.ipynb_checkpoints/
!main.ipynb

# R
*.Rdata
.Rhistory
.RData

# VS Code
.vscode/