# Project especific files
data/

# MacOs
.DS_Store

# Python cache files
__pycache__/

# Pytest cache
.pytest_cache/

# venv
venv/

# environment files
.env

# Jupyter
*.ipynb
.ipynb_checkpoints/

# R
*.Rdata
.Rhistory
.RData

# VS Code
.vscode/